body {
  width: 440px;
}

#toolbar {
  color: #fff;
  background-color: #3F51B5;
  padding: .8em;
}

.title {
  font-size: 1.25em;
}

.collection-item:hover {
  background-color: #eeeeee;
}

.collection {
   background-color: #1e88e5; 
}

#toolbar ul {
  list-style-type: none; }

#toolbar ul {
  padding: 0; }
  #toolbar ul li {
    display: inline;
    list-style-type: none; }
    #toolbar li {
      margin-left: 10px;
    }

    .right {
  float: right !important; }


.collection-header {
  padding-left: 15px;
  color: #fcfcfc;
}
